table {
    width: 50%;
    border: 1px solid #000;
    margin: auto;
}
 .taula{
    width: 25%;
    background-color: slategrey;
    text-align: center;
    border: 1px solid #000;
    border-spacing: 0;

 }

 tr, td{
   width: 25%;
   text-align: left;
   border: 1px solid #000;
   border-spacing: 0;
}
